/***********************************PALETA DE COLORES************************************************/
$dark:#383838;
$green:#3F8756;
$coffee:#60402B;
$light:#F2F2F2;

/***********************************TAMAÑO FUENTE****************************************************/

$h1:3.375em; //54px;
$h2:2.25em; //36px;
$h3:1.5em; //24px;

$text-lg:1.25em; //20px;
$text-md:1em; //16px;
$text-sm:0.75em; //12px;

$font-header:"Playfair Display";
$font-text:"Open Sans";

/***********************************FORMATO FUENTE*****************************************************/

$lh-lg:1.875rem; //30px;
$lh-md:1.5625rem; //25px;
$lh-sm:1.25rem; //20px;

/************************************SEPARACIONES*****************************************************/

$space-xlg:15.625rem; //250px;
$space-lg:9.375rem; //150px;
$space-md:3.125rem; //50px;
$space-sm:1.5625rem; //25px;
$space-xsm:0.625rem; //10px;

